#sidebar {
    width: 180px;
    border-right: 1px solid #5d60caaf;
    margin: 26px 0 0 0;
    padding: 0 14px 12px 14px;
    position: fixed;
    z-index: 1;
    overflow-x: hidden;
    top: 0;
    left: 0;
    background-color: #0000006d;
    height: 100%;
}

#container {margin-left: 200px;}